<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <!-- Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{@BASE}}\css\login.css" rel="stylesheet">
</head>

<body>
    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <form class="form-signin" method="POST" action="{{@BASE}}{{ 'loginCheck' | alias }}">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Login Fat-free</h1>
                </div>

                <div class="form-label-group">
                    <label for="inputUtente">Utente</label>
                    <input type="text" id="inputUtente" class="form-control" placeholder="Utente" name="utente" required autofocus>
                </div>

                <div class="form-label-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
                </div>
                <input type="hidden" name="token" value="{{ @token }}">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>

        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <!-- bootstrap style-->
            <F3:repeat group="{{ \App\Flash::instance()->getMessages() }}" value="{{ @msg }}">
                <div class="alert alert-{{ @msg.status }} alert-dismissable">
                    {{ @msg.text | esc }}
                </div>
            </F3:repeat>
        </div>
        <div class="col-md-4"></div>

        <script src='{{@BASE}}/js/login.js'></script>
</body>

</html>