<div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @titolo=='Home' }} "><true>active</true></check> " href="{{@BASE}}{{ 'home' | alias }}">
        <span data-feather="home"></span>
        Home
      </a>
    </li>
    <check if=" {{ @logged }} ">
      <true>
        <li class="nav-item">
          <a class="nav-link <check if=" {{ @titolo=='Utente' }} "><true>active</true></check>" href="{{@BASE}}{{ 'utente' | alias }}">
            <span data-feather="file"></span>
            Utente
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <check if=" {{ @titolo=='Verifica' }} "><true>active</true></check>" href="{{@BASE}}{{ 'verifica' | alias }}">
            <span data-feather="file"></span>
            Verifica
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <check if=" {{ @titolo=='Logout' }} "><true>active</true></check>" href="{{@BASE}}{{ 'logout' | alias }}">
            <span data-feather="layers"></span>
            Logout
          </a>
        </li>
      </true>
      <false>
        <li class="nav-item">
          <a class="nav-link <check if=" {{ @titolo=='Login' }} "><true>active</true></check>" href="{{@BASE}}{{ 'login' | alias }}">
            <span data-feather="file"></span>
            Login
          </a>
        </li>
      </false>
    </check>
  </ul>
</div>