<div class="row">
    <div class="col-md-12">
        <a href="{{@BASE}}{{ 'utentenuovo' | alias }}" class="btn btn-primary btn-block btn-lg">NUOVO UTENTE</a><br>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Lista utenti</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome utente</th>
                    <th scope="col" style="width: 50px">#</th>
                </tr>
            </thead>
            <tbody>
                <repeat group="{{ @lista }}" value="{{ @item }}">
                    <tr>
                        <td>{{ @item.user_id }}</td>
                        <th scope="row">
                            <a href="{{@BASE}}/utente/cancella/{{ @item.user_id }}" class="btn btn-danger btn-sm">X</a>
                        </th>
                    </tr>
                </repeat>
            </tbody>
        </table>
    </div>
</div>