<div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome utente</th>
                        <th scope="col">#</th>                    
                    </tr>
                </thead>
                <tbody>
                    <repeat group="{{ @lista }}" value="{{ @item }}">
                        <tr>
                            <td>{{ @item.user_id }}</td>
                            <th scope="row"><a href="utente/cancella/{{ @item.user_id }}" class="btn btn-danger btn-sm">X</a></th>
                        </tr>
                    </repeat>
                </tbody>
            </table>
        </div>
    </div>